build/
modules/
autom4te.cache/
.libs/
run-tests.php
posix_semaphores.lo
posix_semaphores.la
mkinstalldirs
missing
ltmain.sh
libtool
install-sh
configure.in
configure
config.sub
config.status
config.nice
config.log
config.h.in
config.h
config.guess
aclocal.m4
acinclude.m4
Makefile.objects
Makefile.global
Makefile.fragments
Makefile
.deps
